.title-icon {
	margin-right: 6px
    height: 24px
    width: 24px
    display: inline-block

    // Align
    vertical-align: middle
    position: relative
	bottom: 2px

    filter: invert(0) sepia(0) saturate(200%) hue-rotate(0deg) brightness(1.5);
}

// ugly hack
.dark img.title-icon {
    filter: invert(1) sepia(20%) saturate(150%) hue-rotate(180deg) brightness(0.8);
}